container_commands:
  00_optimize_bundler:
    command: "bundle config --global jobs 4"

  01_set_tmp_permissions:
    command: "chmod -R go+w /var/app/staging/tmp/"

  02_set_bundle_permissions:
    command: "chmod -R go+w /var/app/staging/.bundle/"

  03_set_vendor_permissions:
    command: "chmod -R go+w /var/app/staging/vendor/"

  04_set_log_permissions:
    command: "chmod -R go+w /var/app/staging/log/"

  05_create_puma_sock:
    command: "touch /var/run/puma/my_app.sock"

  06_set_puma_sock_permissions:
    command: "chmod -R go+w /var/run/puma/"

  07_fix_tmp_path_cache:
    command: "rm -rf /var/app/staging/tmp/cache/bootsnap-load-path-cache"

  08_fix_tmp_bootsnap_cache:
    command: "rm -rf /var/app/staging/tmp/cache/bootsnap-compile-cache"

  09_set_tmp_permissions:
    command: "chmod -R go+w /tmp"