<!-- -*- encoding : utf-8 -*- -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="telephone=no" name="format-detection"/><!-- disable auto telephone linking in iOS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">

    <style type="text/css">/* RESET STYLES */
    html {
      background-color: #fff;
      margin: 0;
      padding: 0;
    }

    body, #bodyTable, #bodyCell, #bodyCell {
      height: 100% !important;
      margin: 0;
      padding: 0;
      width: 100% !important;
      font-family: 'Poppins', 'Roboto', sans-serif;
    }

    table {
      border-collapse: collapse;
    }

    table[id=bodyTable] {
      width: 100% !important;
      margin: auto;
      max-width: 500px !important;
      color: #fff;
      font-weight: normal;
    }

    img, a img {
      border: 0;
      outline: none;
      text-decoration: none;
      height: auto;
      line-height: 100%;
    }

    a {
      text-decoration: none !important;
      border-bottom: 1px solid;
      color: #3b3e52 !important;
    }

    h1, h2, h3, h4, h5, h6 {
      color: rgba(0, 0, 0, 0.84);
      font-weight: normal;
      font-family: 'Poppins', 'Roboto', sans-serif;
      font-size: 20px;
      line-height: 125%;
      text-align: Left;
      letter-spacing: normal;
      margin: 0 0 10px;
      padding: 0;
    }
    </style>
  </head>
  <body style="background-color:#fff;" bgcolor="#fff" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center style="background-color:#fff;">
      <!--Email header-->
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="table-layout: fixed;max-width:100% !important;width: 100% !important;min-width: 100% !important;">
        <tr>
          <td align="center" valign="top" id="bodyCell">
            <table style="background-color:#fff;" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" width="500" id="emailHeader">
              <!-- HEADER ROW // -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                          <tr>
                            <td valign="top" width="600" class="flexibleContainerCell">

                              <!-- CONTENT TABLE // -->
                              <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="left" valign="middle" id="invisibleIntroduction" class="flexibleContainerBox"
                                      style="display:none;display:none !important;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;">
                                      <tr>
                                        <td align="left" class="textContent">
                                          <div style="font-family:'Poppins', 'Roboto', sans-serif;font-size:13px;color:rgba(0, 0, 0, 0.84);text-align:center;line-height:120%;">
                                            Solicitud de captura de información financiera.
                                          </div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- MODULE ROW LOGO// -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fff;" bgcolor="#fff">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                          <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="center" valign="top">

                                    <!-- CONTENT TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td align="center" valign="top" class="imageContent">
                                          <img src="https://analisisfg.com/assets/logo-50911c2c80b6237e79ddafec95e71abe18670157426de0bf98ac175a46cfe71a.png"
                                               width="500" class="flexibleImage" style="max-width:500px;width:100%;display:block;"
                                               alt="Analisis FG">
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- MODULE ROW Mensaje // -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fff;" bgcolor="#fff">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                          <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">
                              <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                <tr>
                                  <td align="center" valign="top">

                                    <!-- CONTENT TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td align="left" valign="top" class="textContent">
                                          <p style="text-align:start;font-weight:200;font-family:'Poppins', 'Roboto', sans-serif;font-size:16px;margin-bottom:10px;color:rgba(0,0,0,.84);line-height:135%;">
                                            Hola <strong><%= @request_data[:user][:first_name].upcase %> <%= @request_data[:user][:last_name].upcase %></strong>
                                          </p>
                                          <p style="text-align:start;font-weight:200;font-family:'Poppins', 'Roboto', sans-serif;font-size:16px;margin-bottom:10px;color:rgba(0,0,0,.84);line-height:135%;">
                                            Un ejecutivo de <strong><%= @request_data[:company][:name].upcase %></strong>, solicita que captures información financiera para continuar con el análisis de tu empresa.
                                          </p>
                                          <p style="text-align:start;font-weight:200;font-family:'Poppins', 'Roboto', sans-serif;font-size:16px;margin-bottom:10px;color:rgba(0,0,0,.84);line-height:135%;">
                                            En necesario ingresar al enlace: <a href="https://analisisfg.com/login">https://analisisfg.com/login</a> con tus credenciales.</h2>
                                          </p>
                                          <p style="text-align:center;font-weight:200;font-family:'Poppins', 'Roboto', sans-serif;font-size:16px;margin-bottom:10px;color:rgba(0,0,0,.84);line-height:135%;">
                                            ¡Gracias!
                                          </p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <!-- MODULE ROW Footer // -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px; background-color:rgba(0,0,0,.74);" bgcolor="rgba(0,0,0,.74)">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                          <tr>
                            <td align="center" valign="top" width="500" class="flexibleContainerCell">
                              <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                <tr>
                                  <td align="center" valign="top">

                                    <!-- CONTENT TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
