
.input-focusable-table{
  height: 100% !important;

  tr{
    position:           relative;
    page-break-inside:  avoid !important;
  }
  tr > th{
    position:         sticky;
    color:            white;
    text-align:       center;
    font-weight:      bold;
    background-color: #3b3e52;
    font-size:        14px;
    border:           1px solid #3b3e52;
    top:              70px; /* Don't forget this, required for the stickiness */
    z-index:          10;
  }

  tr > th.sub-th{
    top:  125px;;
  }

  td{
    border:             1px solid #3b3e52;
    vertical-align:     middle;
    page-break-inside:  avoid !important;
    /*span{
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      align-content: center;
      display: inline-grid;
      align-items: start;
      padding-left: 10px;
    }*/
  }

  .td-title, .tr-rdata{
    page-break-inside: avoid;
  }

  td.full-input{
    padding:        5px 50px;
    font-size:      15px;
    text-align:     center !important;
    font-weight:    bold !important;
    position:       relative;
    vertical-align: middle;
  }

  td.full-input-psm{
    padding:        5px;
    font-size:      15px;
    text-align:     center !important;
    font-weight:    bold !important;
    position:       relative;
    vertical-align: middle;
  }

  td > input{
    background-color: transparent;
    text-align:       center;
    font-weight:      bold;
    border:           1.5px dashed rgba(128, 128, 128, 0.5);
    height:           100%;
    width:            100%;
    color:            #282a3c;
  }

  td > input:focus{
    outline:          none;
    background-color: white;
    border:           1px solid rgba(0, 80, 178, 0.1);
  }

  .percentage-badge{
    position:         absolute;
    display:          table;
    color:            white;
    height:           135%;
    width:            25%;
    border-radius:    0 50px 50px 0;
    left:             0;
    top:              20px;
    font-size:        75%;
    span{
      display:        table-cell;
      margin:         0 auto;
      padding:        28px 0;;
      vertical-align: middle;
      min-height:     75px !important;
    }

  }

  .red-badge{
    background: #CD5C5C;
  }

  .yellow-badge{
    background: #c2b435;
  }

  .green-badge{
    background: #3CB371;
  }

  .blue-badge{
    background: #5d80af;
  }
}

.input-focusable-table.unsticky-th{
  tr > th{
    position: static !important;
  }
}

.highlightedRowColumn{
  background-color: rgba(0, 80, 178, 0.1);
}

.btn-large{
  width:  50%;
  margin: 20px;
}

.text-table-concept{
  color: #2d51b2;
}

.concept-header{
  color:            white !important;
  background-color: #2d51b2 !important;
}

.th-scale{
  background:     white;
  padding:        2px 15px;
  border-radius:  5px;
  color:          #57241a;
}

.value-scale{
  font-size:    10px;
  margin-left:  5px;
}

.input-borderless{
  border-color: transparent !important;
}

.float-percent{
  color:            white;
  position:         absolute;
  background-color: #5d80af;
  font-size:        10px;
  top:              0;
  right:            0;
  padding:          5px 8px;
  border-radius:    0 0 0 10px;
}

.tb-action-btn{
  position: absolute;
  right: 0;
  width: 40px;
  background: #4c4c17;
  display: flex;
  padding: 10px 15px;
  border-radius: 0 0 0 15px;
  top: 0;
  color: white;
}

.tb-action-btn:hover{
  color: white;
}
.tb-action-btn:hover > svg{
  transform: scale(1.2);
}

.missing-data-btn{
  padding: 10px 20px !important;
}

a.missing-data-btn > svg{
  animation:  soft-shake 0.8s infinite;
}

@keyframes soft-shake{
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(5px)
  }
  35%{
    transform: rotate(20deg);
  }
  50%{
    transform: rotate(-20deg);
  }
  60%{
    transform: rotate(10deg);
  }
  85%{
    transform: rotate(-10deg);
  }
  100%{
    transform: translateY(0);
  }
}

