.loading-screen{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #f2f3f8;
  z-index: 99;
}

.mt-20{
  margin-top: 20px;
}

.step-container{
  width: 100%
}

.steps-content {
  display:          flex;
  flex-direction:   column;
  justify-content:  space-around;
  height:           80vh;
  padding:          20px 10%;
}

.steps-content.single-opt {
  justify-content: flex-start;
}

.step-indicator {
  display:        flex;
  align-items:    center;
  flex-direction: column;
  padding-right:  25px;
}

.step-progress {
  display: inline-flex;
}

.step-indicator.description {
  justify-content: space-between;
  align-items: start;
  padding: 0;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  opacity: 0.5;
}

.step#step1{
  opacity: 1;
}

.step-desc {
  display:          flex;
  justify-items:    center;
  flex-direction:   column;
  justify-content:  center;
  height:           38px;
  opacity:          1;

  span {
    font-weight:  bold;
    color:        #0151b2;
    font-size:    12px;
  }

  .title {
    font-weight:  bold;
    color:        #0151b2;
    font-size:    12px;
  }
}


.step-desc.inactive {
  opacity: 0.5;

  span {
    font-weight: bold;
    color: gray;
  }

  .title {
    font-weight: bold;
    color: gray;
  }
}

.step-indicator .step-icon {
  text-align:   center;
  font-weight:  bold;
  position:     relative;
  color:        gray;
  border:       3px solid gray;
  height:       35px;
  width:        35px;
  line-height:  30px;
  font-size:    15px;
  border-radius:50%;
}

.step.completed .step-icon {
  background: #0151b2;
  border: 3px solid #0151b2;
  color: white;
  -webkit-transition: color 500ms linear, border 500ms ease-out, background 500ms ease-out;
  transition: color 500ms linear, border 500ms ease-out, background 500ms ease-out;
}

.step.active .step-icon {
  border:             3px solid #0151b2;
  -webkit-transition: color 1000ms linear, border 1000ms ease-out;
  transition:         color 1000ms linear, border 1000ms ease-out;
  color:              #0151b2;
}

.indicator-line {
  display:              inline-block;
  background-position:  bottom;
  transition:           background-position 1s;
  background-image:     linear-gradient(to bottom, #0151b2 50%, gray 0);
  width:                2px;
  height:               20px;
  margin:               7px 0;
  background-size:      200% 200%;
}

.indicator-line.active {
  background-position: top;
}

.step-content {
  background-color: white;
  overflow:         auto;
  z-index:          0;
  padding:          4em;
  padding-top:      5em;
}

.step-page {
  margin:     auto;
  max-width:  700px;
  margin-top: 20px;

  .title {
    font-size:      24px;
    margin-bottom:  20px;
  }
}

.invisible-page{
  display: none;
}


//SELECTOR SWITCHER EN FORM//
.select_form_switch {
  display:          flex;
  background:       #c4c4c4;
  justify-content:  center;
  position:         relative;
  overflow:         hidden;
  border-radius:    30px;
  box-shadow:       0 0 0 3px #c4c4c4;
  padding:          0;
  z-index:          0;
}

.select_form_switch.select-form-switch-two li{
  list-style: none;
  width:      50%;
}

.select_form_switch li{
  list-style: none;
  width:      14.2857142857%;
}

.select_form_switch li a{
  display:          block;
  text-align:       center;
  text-decoration:  none;
  font-weight:      bold;
  padding:          10px 20px;
  color:            #666565;
  transition:       0.5s;
}

.select_form_switch li.active a{
  color: #ffffff;
}

.slide{
  position:   absolute;
  width:      14.2857142857%;
  height:     100%;
  top:        0;
  left:       0;
  background: #0151b2;
  z-index:    -1;
  transition: 0.5s;
  opacity:    0;
}

.slide.slide-two{
  width:      50%;
}

.select_form_switch li:nth-child(1).active ~ .slide{
  left:     0;
  opacity:  1;
}

.select_form_switch li:nth-child(2).active ~ .slide{
  left:     14.2857142857%;
  opacity:  1;
}

.select_form_switch li:nth-child(3).active ~ .slide{
  left:     28.5714285714%;
  opacity:  1;
}

.select_form_switch li:nth-child(4).active ~ .slide{
  left:     42.8571428571%;
  opacity:  1;
}
.select_form_switch li:nth-child(5).active ~ .slide{
  left:     57.1428571428%;
  opacity:  1;
}

.select_form_switch li:nth-child(6).active ~ .slide{
  left:     71.4285714285%;
  opacity:  1;
}

.select_form_switch li:nth-child(7).active ~ .slide{
  left:     85.7142857142%;
  opacity:  1;
}

.select_form_switch.select-form-switch-two li:nth-child(2).active ~ .slide{
  left:     50%;
  opacity:  1;
}


.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}

.nav-btns-container{
  position:         relative;
  display:          flex;
  top:              -40px;
  left:             -20px;
  width:            calc(100% + 45px);

  .nav-step-btn{
    border:           none;
    position:         absolute;
    display:          flex;
    justify-content:  space-between;
    align-items:      center;
    width:            105px;
    font-weight:      600;
    color:            #3c3e6a;
  }

  .nav-step-btn.btn-next{
    right: 0;
  }

  .nav-step-btn.btn-prev{
    left: 0;
  }
}

.text-bold{
  font-weight:  600;
}

.special-input{
  background-color: #e6e6fa !important;
  font-weight:      bold;
  pointer-events:   none;
}

/*.datepicker#dt_vencimiento{
  width: unset !important;
}

.datepicker.datepicker-dropdown.dropdown-menu{
  width: auto !important;
}*/

.hl-dotted{
  margin-top: 15px;
  width:      100%;
  border:     0.5px dashed lightgray;
}


.info-text{
  color: #0151b2;
}

